@import '../../index.scss';

#header{

#header-desktop{
    @include phone(){
        display: none;
    }
    font-family: 'mukta';
    height: 4rem;
    background: $dark;
    @include flexbox($dir: row, $jc: space-between);
    color: $white;
    >div{
    width: 100%;
    margin: 0rem 1.5rem;
    @include flexbox($dir: row, $jc: space-between);
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);

    >div{
        &:nth-child(1){
            @include flexbox($dir: row);
            >img{
                width: 3.5rem;
                height: 3.5rem;
            }
            >span{
                @include flexbox();
                >h1{
                    font-family: 'mukta-semibold';
                }
                >h2{
                    font-family: 'mukta-light';
                }
            } 
        }
        &:nth-child(2){
            @include flexbox($dir: row);
            font-family: 'poppins-regular';
            >a{
                >p{
                    padding: 0 1rem;
                    cursor: pointer;
                    font-size: 12px;
                    &.selected{
                        font-family: 'poppins-semibold';
                        font-size: 12px;
                    }
                }


            }


        }
    }



}
}
#header-mobile{
     display: none; 
    @include phone(){
        display: flex;
    }
        background: $dark;
        width: 100%;
        height: 4rem;
        @include flexbox($dir: row, $jc: space-between);
        color: $white;
        >div{
            &:nth-child(1){
                @include flexbox($dir: row);
                >img{
                    width: 3.5rem;
                    height: 3.5rem;
                }
                >span{
                    @include flexbox();
                    >h1{
                        font-family: 'mukta-semibold';
                        font-size: 18px;
                    }
                    >h2{
                        font-family: 'mukta-light';
                        font-size: 12px;

                    }
                } 

            }
            &:nth-child(2){
                .burguer {
                    position: fixed;
                    top: 0.2rem;
                    right: 0.2rem;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    border-radius: 50%;
                    transition: transform 500ms ease;
                    cursor: pointer;
                    z-index: 200;
              
                    @include phone {
                      display: flex;
                    }
              
                    span {
                      position: relative;
                      display: block;
                      width: 60%;
                      height: 2px;
                      background-color: $white;
                      float: left;
                      transform-origin: center center;
                      transition: transform 500ms ease;
                      z-index: 200;
              
                      &:nth-of-type(1) {
                        transform: translateY(-5px);
                      }
              
                      &:nth-of-type(3) {
                        transform: translateY(5px);
                      }
                    }
                  }
                  #burguer {
                    display: none;
                    &:checked ~ .burguer {
                      background-color: transparent;
                      transform: rotate(360deg);
                      transition: transform 500ms ease;
              
                      span {
                        background-color: white;
                        transition: transform 500ms ease;
              
                        &:nth-of-type(1) {
                          transform: translateY(1px) rotate(45deg);
                        }
              
                        &:nth-of-type(2) {
                          display: none;
                        }
              
                        &:nth-of-type(3) {
                          transform: translateY(-1px) rotate(-45deg);
                        }
                      }
                    }
              
                    &:checked ~ .nav {
                      left: 0px;
                      transition: left 500ms ease;
                    }
              
                    &:checked ~ main {
                      transform: translateX(250px);
                      transition: transform 500ms ease;
                    }
                  }

            }
        }

        #navbar_mobile{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 69;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: $orange;
            display: flex;
            align-items: flex-start;
            img {
                width: 4rem;
                height: 4rem;
            }
            ul {
                width: 100%;
                height: 100%;
                padding: 3rem 0;
                li{
                    height: 9rem;
                    border-bottom: 1px solid #BC3809;
                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        div{
                            padding: 2rem 0 3rem 2rem;
                            display: flex;
                            @include flexbox($dir: row, $jc: flex-start);
                            font-family: 'poppins-semibold';
                            >p{
                                font-size: 42px;
                            }
                            >span{
                                margin-left: 1rem;
                                >p{
                                    opacity: 0.8;
                                    font-size: 28px;

                                    &:nth-child(1){

                                    }
                                    &:nth-child(2){
                                        color: $dark
                                    }
                                }
                            }
                           
                            
                        }
                    }
                }
            }


        

        }
    


}
}