@import "reset";

// FONTS
@font-face {
    font-family: 'poppins-bold';
    src: url(./fonts/poppins-bold.ttf);
}

@font-face {
    font-family: 'poppins-light';
    src: url(./fonts/poppins-light.ttf);
}

@font-face {
    font-family: 'poppins-regular';
    src: url(./fonts/poppins-regular.ttf);
}
@font-face {
    font-family: 'mukta-light';
    src: url(./fonts/mukta-light.ttf);
}
@font-face {
    font-family: 'mukta-semibold';
    src: url(./fonts/mukta-semibold.ttf);
}
@font-face {
    font-family: 'poppins-semibold';
    src: url(./fonts/poppins-semibold.ttf);
}

@font-face {
  font-family: 'poppins-medium';
  src: url(./fonts/poppins-medium.ttf);
}
  
// COLORS 
$orange         :#DD411F;
$dark           :#2E2E2E;
$white          :#FAFAFA;
$black          :#0F0F0F;

$shadow         :rgba(0, 0, 0, 0.2);

//-------- MEDIAQUERIES --------
$tablet    : 768px;
$desktop   : 1024px;
$desktop_m : 1280px;
$desktop_xl: 1920px;

//-------- MIXINS MEDIA QUERIES --------
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin desktop_uhd {
  @media (min-width: #{$desktop_xl + 1px}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

// SIZES

$header         : 6rem;
$headerMobile   : 3rem;
$corner         : 0.5rem;

// ANIMATION MIXINS
@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
      @content;
    }
  
    @-moz-keyframes #{$animation_name} {
      @content;
    }
  
    @-ms-keyframes #{$animation_name} {
      @content;
    }
  
    @-o-keyframes #{$animation_name} {
      @content;
    }
  
    @keyframes #{$animation_name} {
      @content;
    }
  }
  
  @mixin animacion($str) {
    -webkit-animation: #{$str};
    -moz-animation   : #{$str};
    -ms-animation    : #{$str};
    -o-animation     : #{$str};
    animation        : #{$str};
  }
  
  @include keyframes(letters) {
    0% {
      opacity: 0;
      display: none;
    }
  
    70% {
      opacity: 0;
      display: flex;
    }
  
    100% {
      opacity: 1;
      display: flex;
    }
  }
  
  @mixin toon($e: all, $t: 0.5s, $d: 0s) {
    transition: $e $t cubic-bezier(0.8, 0, 0.2, 1) $d;
  }
  
  @mixin loading_spinner($t: 2rem, $s: $lightBlue, $r: $opaque, $m: 1rem) {
    width           : $t;
    height          : $t;
    border          : $t/5 solid $r;
    border-radius   : 50%;
    border-top-color: $s;
    margin          : $m;
    animation       : spin 1s ease-in-out infinite;
  
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  } 


// MIXINS 
@mixin flexbox($jc: center, $ai: center, $dir: column) {
  justify-content: $jc;
  align-items    : $ai;

  @if $dir==row {
    flex-direction: $dir;
  }
}


@mixin button($c: $lightBlue,
$lc: $c,
  $bg: white,
  $hover_c: white,
  $hover_bg: $lightBlue) {
  @include toon();
  height          : 2.25rem;
  color           : $lc;
  background-color: $bg;
  align-items     : center;
  border          : solid 1px $c;
  border-radius   : 200px;
  font-weight     : bold;
  padding         : 0.5rem 1rem;
  cursor          : pointer;

  a {
    color: $lc;
  }

  @if $hover_c {
    &:hover {
      color     : $hover_c;
      background: $hover_bg;
    a{
        color: $hover_c
    }
    }
    
  }
}

  

@mixin card($h, $w, $bg: $white, $br: $corner) {
    border-radius: $br;
    @extend %shadow;
    background: $bg;
    height    : $h;
    width     : $w;
  }

@mixin compoundTitles($t1: $white, $fs: 32px){
  font-size: $fs;
  color: $t1;
  >h2{
    opacity: 0.7;
  }
}

// EXTENDS 

%shadow {
    box-shadow: 3px 3px 6px $shadow;
  }

%section {
  background: $dark;
  min-height: 100vh;
  padding: 4rem 2rem;
  font-family: 'poppins-regular';
  color: $white
}


html,body {
  cursor: none
}
html *,body * {
  cursor: none;
}